:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --card-bg: #f5f7fa;
  --border-color: #d0d7de;
  --primary-color: #113389;
  --button-bg: #f9f9f9;
  --input-bg: #ffffff;
  --font:  system-ui, Avenir, Helvetica, Arial, sans-serif;
  --border-hover-color: var(--primary-color)

}

[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #f1f1f1;
  --card-bg: #1f1f1f;
  --border-color: #2a2a2a;
  --primary-color: #4c8cff;
  --button-bg: #1a1a1a;
  --input-bg: #2b2b2b;
  --font:  system-ui, Avenir, Helvetica, Arial, sans-serif;
  --border-hover-color : #f1f1f1;
}
